*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*variables generales (color, tamaños, alturas)*/
:root{
    --color-primario: #293d29;
    --color-secundario: #527e52;
    --texto-color-primario: #ffffff;
    --texto-color-secundario: #000000;
    --altura-header: 320px;
    --fuente-titulos: 'lucida sans', sans-serif;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-blanco{
    background-color: white;
}

header{
    height: var(--altura-header);
    background-color: var(--color-primario);
    position: relative;
}

.degradado{
    background: linear-gradient(to bottom, transparent, var(--color-primario), #0c250c);
    height: 100%;
    width: 100%;
}

.bienvenida{
    position: absolute;
    left: 10%;
    bottom: 35px;
    font-family: var(--fuente-titulos);
    /* 1em equivale al tamaño de la fuente por default en body, que en este caso es 16px, entonces 1em = 16px */
    color: var(--texto-color-primario);
}

.buscador{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -25px;
    left: 10%;
    box-shadow: 0 6px 26px -3px rgba(0, 0, 0, 0.5);

    height: 50px;
    width: 80%;
    /*margin: auto; centra el buscador horizontalmente*/
    background-color: white;
}

.buscador input[type="text"]{
    height: 100%;
    outline: none;
    border: none;
    flex: 1;
    padding: 1em;
}

.btn-buscar{
    background-color: transparent;
    border: 0;
    outline: none;
    height: 50px;
    width: 50px;
}

.btn-buscar:hover{
    background-color: var(--color-secundario);
    cursor: pointer;
}

.cuadrado-boton{
    height: 50px;
    width: 50px;
    background-color: var(--color-secundario);
}

main{
    min-height: calc(100dvh - var(--altura-header));
    padding-top: 3em;
}

.categorias{
    background-color: var(--texto-color-primario);
    display: flex;
    align-items: center;
    padding: 2em 0;
    gap: 2em;
    overflow-x: auto;
}

.item-categoria{
    flex: 0 0 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    padding: .5em;
    color: rgb(16, 58, 18);
    transition: all .25s ease-out;
    display: grid;
    place-items: center;
}

.item-categoria .fa-solid{font-size:2em}

.item-categoria:hover{
    background-color: var(--color-primario);
    color: white;
    transform: scale(1.05);
    cursor: pointer ;
    border-radius: 3em;
}